In [7]:
from IPython.core.display import HTML
HTML("<style>.container { width:95% !important; float:center}</style>")

In [33]:
from __future__ import division, print_function

import os

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from nltk.corpus import stopwords
import textblob as tb
from textblob import TextBlob


from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import MultinomialNB, BernoulliNB
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer



%matplotlib inline

sns.set_context('notebook', font_scale=1.5)
sns.set_style('ticks')

punctuation = ['.',',',':','!',';','-','?','"',"'",'(',')','—']   
other = ['ive','ve', "i've", "i'v", 'i’ll', 'i’ve', 'i’v']  # 'deb','hideb','don','didn','twaittry','doesn','thank','heydeb',
mystops = stopwords.words('english') + punctuation + other

In [3]:
comments_classified = pd.read_csv('comments_classified_SK_filtered2000_additional.csv',index_col=0)

comments_with_sentences_100 = pd.read_csv('comments_with_sentences_100.csv',index_col=0)
comments_only_100 = pd.read_csv('comments_only_100.csv',index_col=0)

comments_with_sentences_all = pd.read_csv('comments_with_sentences_all.csv',index_col=0)
comments_only_all = pd.read_csv('comments_only_all.csv',index_col=0)

In [166]:
recipes = pd.read_csv('/Users/kateliea/Documents/Insight/project/webscrapers/recipes_smittenkitchen_100.csv', index_col=0)

In [178]:
comments_with_sentences_100.columns

Index(['sentence', 'commentID', 'child_id', 'children', 'comment_time',
       'recipenumber', 'title', 'url', 'usercomment', 'username', 'usersite',
       'usercomment_lower', 'tokens', 'tokens_stemmed', 'sentence_tokens',
       'sentence_tokens_stemmed', 'sentiment_polarity_comment',
       'sentiment_polarity_sentence'],
      dtype='object')

In [176]:
recipes['recipe_ID'] = recipes.index

recipes['recipe_ID'] = recipes['recipe_ID'].apply(lambda x: 'R'+str(x))

In [231]:
recipes.introductory_text

'As many of you have figured out, I’ve got a megawatt crush on Southern food. It comes out with a vengeance all summer when I want nothing more than to dry-rub ribs, make corn bread and buttermilk dressing salads, dive headfirst into tomato pie and douse pretty much everything in bourbon then usually goes into a soft hibernation over the winter save a fried chicken or chicken and dumplings run-in or two.Given this infatuation, it seems only right and proper that I’d get in a recipe for sweet potato pie at a time of year when sweet potatoes are exactly everywhere. But while I do love me some sweet potato pie, there’s a heaviness about it that is exactly what some people like about it but leaves me feeling kind of lukewarm. So you can imagine when I spied this fluffier, tangier and [here’s the part I think you’re really going to remember] almost cheesecake-like version of it a cookbook written by and I’d like to believe for Manhattanites with a thing for Southern home cooking, I bookmarked it instantaneously and then sat on my hands/tapped my feet impatiently until sweet potato season came around.[Can you tell I went a little overboard with the sweet potatoes at the market? I have so many, I’m even tepidly considering cooking, pureeing and freezing some for that seemingly far-off time a few months from now sobpleasestopgrowingsofast when this fist-eater theoretically moves on to more nutritional solids.]This recipe is a total win, especially if you were looking for a brighter, lighter alternative to a traditional sweet potato pie. Just be sure to warn folks because it may look like tradition but it tastes like “surprise!” and you know, not everyone likes to be surprised when they cut into their Thanksgiving dessert. Which, frankly, just means more for you.Extra buttermilk to use up? I’ve got more buttermilk uses than you might know what to do with. Ice cream, anyone?'

In [4]:
comments_classified.columns

Index(['category', 'sentence', 'commentID', 'child_id', 'children',
       'comment_time', 'recipenumber', 'title', 'url', 'usercomment',
       'username', 'usersite', 'usercomment_lower', 'tokens', 'tokens_stemmed',
       'sentence_bigrams', 'sentence_trigrams', 'sentence_tokens',
       'sentence_tokens_stemmed', 'category_label'],
      dtype='object')

In [58]:
def comment_sentiment(comment): 
    comment = tb.TextBlob(comment)
    return comment.sentiment.polarity

exploratory analysis of TextBlob

In [221]:
comments_classified.title[4]

'sweet potato buttermilk\xa0pie'

In [51]:
txt = tb.TextBlob(comments_classified.usercomment[4])
txt

TextBlob("This is definitely going on my Must Make list. Here in North Carolina, sweet potatoes are in season year-round so I am always looking for new ways to eat them!")

In [27]:
txt.tags, txt.noun_phrases

([('Ive', 'NNP'),
  ('never', 'RB'),
  ('made', 'VBD'),
  ('sweet', 'JJ'),
  ('potato', 'JJ'),
  ('pie', 'NN'),
  ('I’d', 'NNP'),
  ('love', 'NN'),
  ('to', 'TO'),
  ('try', 'VB'),
  ('for', 'IN'),
  ('the', 'DT'),
  ('Holidays', 'NNP')],
 WordList(['ive', 'sweet potato pie', 'i’d', 'holidays']))

Sentiment(polarity, subjectivity). The polarity score is a float within the range [-1.0, 1.0]. The subjectivity is a float within the range [0.0, 1.0] where 0.0 is very objective and 1.0 is very subjective.m

In [77]:
txt.sentiment

Sentiment(polarity=0.17348484848484846, subjectivity=0.5348484848484848)

In [ ]:
comments_with_sentences_100['sentiment_polarity_sentence'] = comments_with_sentences_100.sentence.apply(comment_sentiment)

In [87]:
comments_with_sentences_100[(comments_with_sentences_100.sentiment_polarity_sentence > 0) & (comments_with_sentences_100.title=='best cocoa brownies')].sentiment_polarity_sentence.mean()

0.4595538414182737

In [53]:
comment

TextBlob("This is definitely going on my Must Make list. Here in North Carolina, sweet potatoes are in season year-round so I am always looking for new ways to eat them!")

x = range(7)
negative_data = [-1,-4,-3,-2,-6,-2,-8]
positive_data = [4,2,3,1,4,6,7,]

fig = plt.figure()
ax = plt.subplot(111)
ax.bar(x, negative_data, width=1, color='r')
ax.bar(x, positive_data, width=1, color='b')

In [189]:
title = recipes.title[2]

positive = 100*comments_with_sentences_100[
    (comments_with_sentences_100.sentiment_polarity_sentence > 0) 
    & (comments_with_sentences_100.title==title)].sentiment_polarity_sentence.mean()
negative = 100*comments_with_sentences_100[
    (comments_with_sentences_100.sentiment_polarity_sentence < 0) 
    & (comments_with_sentences_100.title==title)].sentiment_polarity_sentence.mean()

In [218]:
recipes.loc[recipes.title==title, 'numberofcomments']

2    47
Name: numberofcomments, dtype: int64

In [190]:
(positive - negative)*(recipes[recipes.title==title].numberofcomments)

2    3506.751321
Name: numberofcomments, dtype: float64

positive = 100*comments_with_sentences_100[
    (comments_with_sentences_100.sentiment_polarity_sentence > 0) 
    & (comments_with_sentences_100.title=='best cocoa brownies')].sentiment_polarity_sentence.mean()
negative = 100*comments_with_sentences_100[
    (comments_with_sentences_100.sentiment_polarity_sentence < 0) 
    & (comments_with_sentences_100.title=='best cocoa brownies')].sentiment_polarity_sentence.mean()


width = 0.2
lw=0

with sns.axes_style({'font.family': [u'sans-serif']}):
    sns.set_context('notebook', font_scale=1.5)
    fig, ax = plt.subplots(figsize=(5,1))
    ax.barh(0, positive, color='orange', linewidth=lw)
    ax.barh(0, negative, color='blue', linewidth=lw)

    ax.set_xlim((-60,60))
    ax.set_yticks(ticks=[])
    ax.set_title('recipe happiness')
    sns.despine(offset=20, trim=True, left=True)

In [222]:
def happiness_graph(recipe):
    width = 0.2
    lw=0
    fig, ax = plt.subplots(figsize=(5,1))
    
    with sns.axes_style({'font.family': [u'sans-serif']}):
        sns.set_context('notebook', font_scale=1.5)
        ax.barh(0, positive, color='orange', linewidth=lw)
        ax.barh(0, negative, color='blue', linewidth=lw)

        ax.set_xlim((-60,60))
        ax.set_yticks(ticks=[])
        ax.set_title('recipe happiness (%)')
        sns.despine(offset=20, trim=True, left=True)
        
    plt.savefig('/Users/kateliea/Documents/Insight/project/images/' + name + '.jpg')

In [179]:
recipes.columns

Index(['article_id', 'author', 'author_url', 'directions', 'firstimageURL',
       'ingredients', 'introductory_text', 'numberofcomments', 'published',
       'recipe_notes', 'servings', 'time', 'title', 'updated', 'url',
       'recipe_ID'],
      dtype='object')

create a data table with the recipe sentiment, ranked by happiness score 

include name for happiness plot

In [202]:
# recipe_ranks = pd.DataFrame()
reicpe_ranks = {}

for i, recipe_title in enumerate(comments_with_sentences_100.title.unique()):
        recipe_sentiment = {}
        
        recipe_sentiment['recipe_title'] = recipe_title

        recipe_sentiment['recipe_ID'] = recipes[recipes.title == recipe_title].recipe_ID
        
        recipe_sentiment['numberofcomments'] = recipes[recipes.title == recipe_title].numberofcomments
        
        recipe_sentiment['mean_positivity_sentences'] = 100*comments_with_sentences_100[
                    (comments_with_sentences_100.sentiment_polarity_sentence > 0) 
                    & (comments_with_sentences_100.title == recipe_title)].sentiment_polarity_sentence.mean()
        
        recipe_sentiment['mean_positivity_comment'] = 100*comments_with_sentences_100[
                    (comments_with_sentences_100.sentiment_polarity_comment > 0) 
                    & (comments_with_sentences_100.title == recipe_title)].sentiment_polarity_comment.mean()

        recipe_sentiment['mean_negativity_sentences'] = 100*comments_with_sentences_100[
                    (comments_with_sentences_100.sentiment_polarity_sentence < 0) 
                    & (comments_with_sentences_100.title == recipe_title)].sentiment_polarity_sentence.mean()
        
        recipe_sentiment['mean_negativity_comment'] = 100*comments_with_sentences_100[
                    (comments_with_sentences_100.sentiment_polarity_comment < 0) 
                    & (comments_with_sentences_100.title == recipe_title)].sentiment_polarity_comment.mean()
        
        recipe_sentiment['sentence_rank'] = (positive - negative)*(recipes[recipes.title==title].numberofcomments)
        
        recipe_sentiment['plot_name'] = recipe_title + '.jpg'
        
        
        recipe_ranks[i] = recipe_sentiment
        
        
# ranks = pd.DataFrame(recipe_ranks)

In [199]:
recipe_ranks[0] = recipe_sentiment

In [208]:
ranks = pd.DataFrame.from_dict(recipe_ranks, orient='index')
ranks

,mean_positivity_comment,numberofcomments,mean_negativity_sentences,recipe_ID,mean_negativity_comment,sentence_rank,recipe_title,plot_name,mean_positivity_sentences
0,32.005106,"0 259 Name: numberofcomments, dtype: int64",-22.780852,"0 R0 Name: recipe_ID, dtype: object",-24.174082,"2 3506.751321 Name: numberofcomments, dtype...",sweet potato buttermilk pie,sweet potato buttermilk pie.jpg,41.522664
1,34.126572,"1 993 Name: numberofcomments, dtype: int64",-22.228985,"1 R1 Name: recipe_ID, dtype: object",-19.150751,"2 3506.751321 Name: numberofcomments, dtype...",best cocoa brownies,best cocoa brownies.jpg,45.955384
2,25.562205,"2 47 Name: numberofcomments, dtype: int64",-32.348039,"2 R2 Name: recipe_ID, dtype: object",-6.250000,"2 3506.751321 Name: numberofcomments, dtype...",sav’h,sav’h.jpg,42.263691
3,33.022786,"3 217 Name: numberofcomments, dtype: int64",-29.804901,"3 R3 Name: recipe_ID, dtype: object",-16.031882,"2 3506.751321 Name: numberofcomments, dtype...",classic cobb salad,classic cobb salad.jpg,44.310971
4,36.836628,"4 222 Name: numberofcomments, dtype: int64",-24.813667,"4 R4 Name: recipe_ID, dtype: object",-13.790238,"2 3506.751321 Name: numberofcomments, dtype...",cumin seed roasted cauliflower with yogurt,cumin seed roasted cauliflower with yogurt.jpg,47.630698
5,26.269360,"5 112 Name: numberofcomments, dtype: int64",-21.741757,"5 R5 Name: recipe_ID, dtype: object",-16.357477,"2 3506.751321 Name: numberofcomments, dtype...",chocolate pavlova,chocolate pavlova.jpg,39.174003
6,36.754380,"6 44 Name: numberofcomments, dtype: int64",-30.011111,"6 R6 Name: recipe_ID, dtype: object",-20.698121,"2 3506.751321 Name: numberofcomments, dtype...",homemade merguez with herby yogurt,homemade merguez with herby yogurt.jpg,47.783939
7,31.445060,"7 327 Name: numberofcomments, dtype: int64",-24.226824,"7 R7 Name: recipe_ID, dtype: object",-14.561116,"2 3506.751321 Name: numberofcomments, dtype...",fudgy chocolate sheet cake,fudgy chocolate sheet cake.jpg,44.693298
8,33.038985,"8 77 Name: numberofcomments, dtype: int64",-20.734196,"8 R8 Name: recipe_ID, dtype: object",-8.737875,"2 3506.751321 Name: numberofcomments, dtype...",israeli salad + pita chips,israeli salad + pita chips.jpg,42.635496
9,31.731212,"9 157 Name: numberofcomments, dtype: int64",-22.127426,"9 R9 Name: recipe_ID, dtype: object",-14.001807,"2 3506.751321 Name: numberofcomments, dtype...",failproof crepes + a crepe party,failproof crepes + a crepe party.jpg,42.309816
10,28.511970,"10 474 Name: numberofcomments, dtype: int64",-22.444715,"10 R10 Name: recipe_ID, dtype: object",-11.828914,"2 3506.751321 Name: numberofcomments, dtype...",zucchini bread,zucchini bread.jpg,40.325498
11,32.358414,"11 358 Name: numberofcomments, dtype: int64",-19.364812,"11 R11 Name: recipe_ID, dtype: object",-11.548006,"2 3506.751321 Name: numberofcomments, dtype...","zucchini, tomato and rice gratin","zucchini, tomato and rice gratin.jpg",45.527744
12,36.811215,"12 842 Name: numberofcomments, dtype: int64",-21.378842,"12 R12 Name: recipe_ID, dtype: object",-9.867544,"2 3506.751321 Name: numberofcomments, dtype...",red wine chocolate cake,red wine chocolate cake.jpg,47.723929
13,36.217619,"13 299 Name: numberofcomments, dtype: int64",-19.016959,"13 R13 Name: recipe_ID, dtype: object",-14.310966,"2 3506.751321 Name: numberofcomments, dtype...",burst tomato galette with corn and zucchini,burst tomato galette with corn and zucchini.jpg,48.034003
14,37.420777,"14 254 Name: numberofcomments, dtype: int64",-26.396134,"14 R14 Name: recipe_ID, dtype: object",-14.730176,"2 3506.751321 Name: numberofcomments, dtype...",zucchini bread pancakes,zucchini bread pancakes.jpg,47.969134
15,30.392060,"15 366 Name: numberofcomments, dtype: int64",-22.295369,"15 R15 Name: recipe_ID, dtype: object",-11.542025,"2 3506.751321 Name: numberofcomments, dtype...",build your own smitten kitchen,build your own smitten kitchen.jpg,43.828878
16,27.651966,"16 131 Name: numberofcomments, dtype: int64",-26.547622,"16 R16 Name: recipe_ID, dtype: object",-13.923525,"2 3506.751321 Name: numberofcomments, dtype...",piri piri chicken,piri piri chicken.jpg,43.382192
17,32.181802,"17 218 Name: numberofcomments, dtype: int64",-20.274792,"17 R17 Name: recipe_ID, dtype: object",-8.659030,"2 3506.751321 Name: numberofcomments, dtype...",confetti cookies,confetti cookies.jpg,45.832411
18,40.468838,"18 31 Name: numberofcomments, dtype: int64",-21.371528,"18 R18 Name: recipe_ID, dtype: object",-19.722222,"2 3506.751321 Name: numberofcomments, dtype...","freedom, ringing","freedom, ringing.jpg",48.550908
19,30.872722,"19 104 Name: numberofcomments, dtype: int64",-24.176232,"19 R19 Name: recipe_ID, dtype: object",-20.477761,"2 3506.751321 Name: numberofcomments, dtype...",plum squares with marzipan crumble,plum squares with marzipan crumble.jpg,41.664060
20,32.064294,"20 848 Name: numberofcomments, dtype: int64",-24.393882,"20 R20 Name: recipe_ID, dtype: object",-11.861575,"2 3506.751321 Name: numberofcomments, dtype...",tomato sauce with onion and butter,tomato sauce with onion and butter.jpg,42.685017
21,29.818535,"21 247 Name: numberofcomments, dtype: int64",-25.865518,"21 R21 Name: recipe_ID, dtype: object",-13.171170,"2 3506.751321 Name: numberofcomments, dtype...",slow-roasted tomatoes,slow-roasted tomatoes.jpg,43.102664
22,31.834990,"22 406 Name: numberofcomments, dtype: int64",-22.926149,"22 R22 Name: recipe_ID, dtype: object",-13.969322,"2 3506.751321 Name: numberofcomments, dtype...",broccoli slaw,broccoli slaw.jpg,45.641429
23,38.844795,"23 123 Name: numberofcomments, dtype: int64",-21.275647,"23 R23 Name: recipe_ID, dtype: object",-14.809028,"2 3506.751321 Name: numberofcomments, dtype...",white bean roasted red pepper dip,white bean roasted red pepper dip.jpg,48.262022
24,33.366053,"24 607 Name: numberofcomments, dtype: int64",-21.290417,"24 R24 Name: recipe_ID, dtype: object",-15.109616,"2 3506.751321 Name: numberofcomments, dtype...",perfect blueberry muffins,perfect blueberry muffins.jpg,45.396417
25,26.164845,"25 75 Name: numberofcomments, dtype: int64",-18.047345,"25 R25 Name: recipe_ID, dtype: object",-12.700700,"2 3506.751321 Name: numberofcomments, dtype...",how to julienne,how to julienne.jpg,39.717468
26,34.054262,"26 168 Name: numberofcomments, dtype: int64",-21.086512,"26 R26 Name: recipe_ID, dtype: object",-26.299867,"2 3506.751321 Name: numberofcomments, dtype...",quick zucchini sauté,quick zucchini sauté.jpg,43.966080
27,32.274000,"27 79 Name: numberofcomments, dtype: int64",-23.415143,"27 R27 Name: recipe_ID, dtype: object",-9.584686,"2 3506.751321 Name: numberofcomments, dtype...",acorn squash with chile-lime vinaigrette,acorn squash with chile-lime vinaigrette.jpg,46.359109
28,31.460697,"28 583 Name: numberofcomments, dtype: int64",-21.764068,"28 R28 Name: recipe_ID, dtype: object",-13.520987,"2 3506.751321 Name: numberofcomments, dtype...",salted brown butter crispy treats,salted brown butter crispy treats.jpg,43.281961
29,29.827152,"29 90 Name: numberofcomments, dtype: int64",-27.517215,"29 R29 Name: recipe_ID, dtype: object",-30.065461,"2 3506.751321 Name: numberofcomments, dtype...",cherry clafoutis,cherry clafoutis.jpg,44.040612
...,...,...,...,...,...,...,...,...,...
70,29.858233,"70 303 Name: numberofcomments, dtype: int64",-17.636989,"70 R70 Name: recipe_ID, dtype: object",-12.555892,"2 3506.751321 Name: numberofcomments, dtype...",bourbon peach hand pies,bourbon peach hand pies.jpg,44.473431
71,35.949390,"71 480 Name: numberofcomments, dtype: int64",-25.963396,"71 R71 Name: recipe_ID, dtype: object",-23.569643,"2 3506.751321 Name: numberofcomments, dtype...",ratatouille’s ratatouille,ratatouille’s ratatouille.jpg,46.915121
72,28.559250,"72 659 Name: numberofcomments, dtype: int64",-21.582412,"72 R72 Name: recipe_ID, dtype: object",-14.575307,"2 3506.751321 Name: numberofcomments, dtype...",new york cheesecake,new york cheesecake.jpg,40.443983
73,32.001407,"73 614 Name: numberofcomments, dtype: int64",-23.875979,"73 R73 Name: recipe_ID, dtype: object",-17.063537,"2 3506.751321 Name: numberofcomments, dtype...",homemade oreos,homemade oreos.jpg,44.835165
74,33.703010,"74 1237 Name: numberofcomments, dtype: int64",-22.410323,"74 R74 Name: recipe_ID, dtype: object",-16.273677,"2 3506.751321 Name: numberofcomments, dtype...",chocolate peanut butter cake,chocolate peanut butter cake.jpg,44.897468
75,28.702711,"75 166 Name: numberofcomments, dtype: int64",-25.284886,"75 R75 Name: recipe_ID, dtype: object",-22.060066,"2 3506.751321 Name: numberofcomments, dtype...",oven fries,oven fries.jpg,40.653824
76,34.842937,"76 265 Name: numberofcomments, dtype: int64",-28.107914,"76 R76 Name: recipe_ID, dtype: object",-14.204840,"2 3506.751321 Name: numberofcomments, dtype...",nectarine brown butter buckle,nectarine brown butter buckle.jpg,47.072410
77,30.213438,"77 85 Name: numberofcomments, dtype: int64",-23.217943,"77 R77 Name: recipe_ID, dtype: object",-16.395289,"2 3506.751321 Name: numberofcomments, dtype...",blueberry bread and butter pudding,blueberry bread and butter pudding.jpg,42.222593
78,29.779785,"78 204 Name: numberofcomments, dtype: int64",-19.328357,"78 R78 Name: recipe_ID, dtype: object",-12.167791,"2 3506.751321 Name: numberofcomments, dtype...",summer squash pizza,summer squash pizza.jpg,43.397250
79,32.661306,"79 62 Name: numberofcomments, dtype: int64",-31.449588,"79 R79 Name: recipe_ID, dtype: object",-14.434316,"2 3506.751321 Name: numberofcomments, dtype...",peach melba popsicles,peach melba popsicles.jpg,42.543685
80,36.798854,"80 201 Name: numberofcomments, dtype: int64",-25.521036,"80 R80 Name: recipe_ID, dtype: object",-19.760036,"2 3506.751321 Name: numberofcomments, dtype...",strawberry shortcakes,strawberry shortcakes.jpg,47.671443
81,32.894523,"81 310 Name: numberofcomments, dtype: int64",-23.262037,"81 R81 Name: recipe_ID, dtype: object",-13.382780,"2 3506.751321 Name: numberofcomments, dtype...",sweet and smoky oven spareribs,sweet and smoky oven spareribs.jpg,43.258498
82,34.924970,"82 508 Name: numberofcomments, dtype: int64",-25.817714,"82 R82 Name: recipe_ID, dtype: object",-11.534624,"2 3506.751321 Name: numberofcomments, dtype...","how to poach an egg, smitten kitchen-style","how to poach an egg, smitten kitchen-style.jpg",44.167423
83,37.854429,"83 142 Name: numberofcomments, dtype: int64",-25.249666,"83 R83 Name: recipe_ID, dtype: object",-16.678792,"2 3506.751321 Name: numberofcomments, dtype...",roasted carrot and avocado salad,roasted carrot and avocado salad.jpg,50.128951
84,30.352794,"84 215 Name: numberofcomments, dtype: int64",-20.871183,"84 R84 Name: recipe_ID, dtype: object",-12.703275,"2 3506.751321 Name: numberofcomments, dtype...",blackberry cheesecake galette,blackberry cheesecake galette.jpg,43.883875
85,32.642391,"85 93 Name: numberofcomments, dtype: int64",-18.931246,"85 R85 Name: recipe_ID, dtype: object",-13.966544,"2 3506.751321 Name: numberofcomments, dtype...",eggplant with yogurt and tomato relish,eggplant with yogurt and tomato relish.jpg,45.566351
86,33.905460,"86 270 Name: numberofcomments, dtype: int64",-25.348526,"86 R86 Name: recipe_ID, dtype: object",-25.830060,"2 3506.751321 Name: numberofcomments, dtype...",almond-crisped peaches + uk book tour,almond-crisped peaches + uk book tour.jpg,46.984942
87,31.086775,"87 113 Name: numberofcomments, dtype: int64",-22.410694,"87 R87 Name: recipe_ID, dtype: object",-17.747691,"2 3506.751321 Name: numberofcomments, dtype...","potato pizza, even better","potato pizza, even better.jpg",43.991282
88,32.603053,"88 168 Name: numberofcomments, dtype: int64",-24.664002,"88 R88 Name: recipe_ID, dtype: object",-13.267196,"2 3506.751321 Name: numberofcomments, dtype...",key lime pie popsicles,key lime pie popsicles.jpg,41.745339
89,41.098927,"89 194 Name: numberofcomments, dtype: int64",-24.523020,"89 R89 Name: recipe_ID, dtype: object",-35.708023,"2 3506.751321 Name: numberofcomments, dtype...",tomato salad with crushed croutons,tomato salad with crushed croutons.jpg,51.788748
90,32.545310,"90 60 Name: numberofcomments, dtype: int64",-22.991111,"90 R90 Name: recipe_ID, dtype: object",-12.241521,"2 3506.751321 Name: numberofcomments, dtype...",apple cranberry crisp,apple cranberry crisp.jpg,39.349084
91,27.103227,"91 166 Name: numberofcomments, dtype: int64",-22.927609,"91 R91 Name: recipe_ID, dtype: object",-11.941779,"2 3506.751321 Name: numberofcomments, dtype...",rugelach pinwheels,rugelach pinwheels.jpg,40.427802
92,28.739290,"92 185 Name: numberofcomments, dtype: int64",-21.734225,"92 R92 Name: recipe_ID, dtype: object",-9.494216,"2 3506.751321 Name: numberofcomments, dtype...",nutmeg-maple cream pie,nutmeg-maple cream pie.jpg,40.490121
93,34.000654,"93 320 Name: numberofcomments, dtype: int64",-23.101919,"93 R93 Name: recipe_ID, dtype: object",-12.032429,"2 3506.751321 Name: numberofcomments, dtype...",peach pie,peach pie.jpg,45.670616
94,31.810037,"94 448 Name: numberofcomments, dtype: int64",-22.778963,"94 R94 Name: recipe_ID, dtype: object",-11.885689,"2 3506.751321 Name: numberofcomments, dtype...",my favorite buttermilk biscuits,my favorite buttermilk biscuits.jpg,43.295724
95,29.872064,"95 440 Name: numberofcomments, dtype: int64",-23.115193,"95 R95 Name: recipe_ID, dtype: object",-13.401295,"2 3506.751321 Name: numberofcomments, dtype...",project wedding cake: the cake is baked,project wedding cake: the cake is baked.jpg,41.419218
96,32.880370,"96 357 Name: numberofcomments, dtype: int64",-28.261197,"96 R96 Name: recipe_ID, dtype: object",-24.116354,"2 3506.751321 Name: numberofcomments, dtype...",scalloped tomatoes with croutons,scalloped tomatoes with croutons.jpg,45.264630
97,35.815239,"97 177 Name: numberofcomments, dtype: int64",-23.438511,"97 R97 Name: recipe_ID, dtype: object",-10.780389,"2 3506.751321 Name: numberofcomments, dtype...",blue and red berry ricotta galette,blue and red berry ricotta galette.jpg,48.667377
98,37.005889,"98 196 Name: numberofcomments, dtype: int64",-27.863716,"98 R98 Name: recipe_ID, dtype: object",-19.816663,"2 3506.751321 Name: numberofcomments, dtype...",raspberry limeade slushies,raspberry limeade slushies.jpg,46.179729
99,31.187314,"99 88 Name: numberofcomments, dtype: int64",-17.885640,"99 R99 Name: recipe_ID, dtype: object",-9.812305,"2 3506.751321 Name: numberofcomments, dtype...",ice cream sandwich cookies,ice cream sandwich cookies.jpg,46.898543

In [216]:
recipes[recipes.title == recipe_title].author

99    deb
Name: author, dtype: object

TypeError: cannot do label indexing on <class 'pandas.indexes.base.Index'> with these indexers [0] of <class 'int'>

In [228]:
recipes.columns

Index(['article_id', 'author', 'author_url', 'directions', 'firstimageURL',
       'ingredients', 'introductory_text', 'numberofcomments', 'published',
       'recipe_notes', 'servings', 'time', 'title', 'updated', 'url',
       'recipe_ID'],
      dtype='object')